@import viewmodels.InputWidth.*
@import models.NavigationBarContent
@import config.AppConfig
@import views.html.components.*
@import uk.gov.hmrc.govukfrontend.views.html.components.*

@this(
    layout: Layout,
    saveAndContinueButton: saveAndContinueButton,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukInput: GovukInput
)

@(form: Form[?], mode: Mode, navigationBarContent: NavigationBarContent)(implicit request: Request[?], messages: Messages, appConfig: AppConfig)

@layout(pageTitle = Some(messages("$className;format="decap"$.title")), navigationBarContent = Some(navigationBarContent)) {

    @formHelper(action = routes.$className$Controller.onSubmit(mode), Symbol("autoComplete") -> "off") {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form))
        }

        @govukInput(
            InputViewModel(
                field = form("value"),
                label = LabelViewModel(messages("$className;format="decap"$.heading")).asPageHeading()
            )
            .asNumeric()
            .withWidth(Fixed10)
        )

        @saveAndContinueButton(msg = messages("site.saveAndContinue"))

    }
}
